/*
#1c1c1c - black
#474350 - Purple (cinza claro)
#ffc857 - Amarelo (mustaf)
#f4f7f5 - White

*/

#menu{
    width:553px;
    margin: 0 auto;
}

#menu li:hover {
    background:#ffc857;
    color: #1c1c1c;
    transition: 0.5s;
}
#menu ul a li {
    background-color: #1c1c1c;
    height:47px;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    width:150px;
    border-right:1px solid #FFF;
}

a{
    text-decoration:none;
    font-size:20px;
    color:#FFF;
}