*{
    margin: 0;
    padding: 0;
}
.corpo {
    width: 900px;
    margin: 0 auto;
}
.blocos{
    border: 1px solid black;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 20px;
}
.btn-ver-mais{
    color: blue;
    margin-left: 50px;
    cursor: pointer;
    font-size: 15px;
}
.animacao{
    transition: 5s;
    margin-top: 100px;
    background-color: red;
    border: 1px solid black;
}
#bloco1{
    overflow: hidden;
    height: 15px;
}
.blocos .box{
    float: right;
}
.blocos h2 {
    margin-bottom: 20px;
}
#bloco1 p{
    width: 300px;
}
.conteudo p {
    overflow: hidden;
    display: none;
    transition: 0.5s;
}
.mostrar1{
    height: 100% !important; 
}
.mostrar2 {
    display: flex !important;
}
.mostrar3 {
    height: 100% !important;
}
/*SLIDE VANILA*/
/*.blocos{
    overflow: hidden;
    height: 0px;
} TRECHO DE CÓDIGO QUE SERÁ USADO PARA OCULTAR A ANIMAÇÃO 3*/
.blocos{
    text-align: center;
}
.bolinha {
    margin: 0 8px;
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: gray;
}
.bolinha-ativa {
    background-color: #333;
}
.imagens-slide{
    position: relative;
    height: 500px;
    width: 500px;
    margin: 0 auto;
}
.imagens-slide img{
    position: absolute;
    left: 0;
    top: 0;
    width: 500px;
    height: 400px;
    opacity: 0;
    transition: 1s;
    float: center;
}
.conteudo-slide div {
    display: none;
    background-color: #333;
}
.teste1{
    background-color: aqua;
}
/*FIM SLIDE VANILLA*/

/* CALCULADORA */
#calc{
    width: 150px;
    margin: 0 auto;
}
#btn-igual{
    background-color: rgb(133, 221, 0);
    border: 1px solid gray;
}
#btn-del{
    background-color: rgb(212, 88, 88);
    border: 1px solid gray;
}
tr td input {
    width: 50px;
    height: 40px;
}
.display{
    width: 100%;
    height: 60px;
    background-color: gainsboro;
    border: 2px solid gray;
    margin: 2px;
}

/* FIM CALCULADORA */